<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <nav>
            <ul>
                <li class="li-inline nav-item"><a href="/">Home</a></li>
                <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
                <li class="li-inline nav-item"><a href="/contact">Contact</a></li>
                <li class="li-inline nav-item"><a href="/">Logout</a> </li>
            </ul>
        </nav>
        <header class="hero">
            <h1>
                <a href="/">The Tech blog</a>
            </h1>

        </header>
        <main class="container container-fluid mt-5">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
    </div>
</body>

<footer class="footer flex-row justify-center">
    <a href="/dashboard/new">➕ Create New Post</a>
</footer>

<script src="/js/logout.js"></script>

</html>