<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class=" container flex-column justify-space-around">
        <nav class="navbar-nav">
            <ul>
                <li class="li-inline nav-item"><a href="/">Home</a></li>
                <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <li class="li-inline nav-item"><a href="/" id="logoutBtn">Logout</a> </li>
                {{else}}
                <li class="li-inline nav-item"><a href="/login">Login</a></li>
                {{/if}}
            </ul> 
        </nav>
        <header class="hero">
            <h1>
                <a href="/">The Tech blog</a>
            </h1>
            
        </header>
        <main class="container container-fluid mt-5">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
        <footer>
            <p>&copy; 2020 The Tech Blog</p>
        </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>