<article>
    <a href="/dashboard"> &larr; Dashboard</a>
    <h2 class="text-center">
        Edit Post
    </h2>
    <div class="d-flex p-2 bd-highlight justify-content-center">

        <form class="edit-post-form d-flex row bg-light border bw-2 rounded justify-content-center col-8">
            <div class="row col-9 m-2 p-2">
                Post Title
                <input name="post-title" type="text" value="{{post.title}}" />
            </div>
            <div class="row col-9 m-2 p-2">
                Post Text
                <input name="post-text" type="text" value="{{post.post_text}}" />
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Update post</button>
            <button type="button" class="delete-post-btn btn btn-danger btn-lg btn-block">Delete post</button>
        </form>
    </div>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>